<div class="row">
    <div class="col-sm-5">
       <label for="Ingredient" class="form-label">Ingredient Name</label>
       <input type="text" [(ngModel)]="newTitle" placeholder="Ingredient Name" class="form-control" id="Ingredient" aria-describedby="Ingredient">
              
            </div>
            <div class="col-sm-3">
            <label for="Amount" class="form-label">Amount</label>
              <input type="text" [(ngModel)]="newDescription" placeholder="Amount" class="form-control" id="Amount" aria-describedby="Amount">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="addCardItems()" >Blue Text</button>
            </div>
            
            <div class="col-sm-2">
                <button type="button" class="btn btn-success" (click)="addCardGreen()">Green Text</button>
            </div>
          
        </div>
        
