<div class="row">
    <div class="col-sm-12">
        <h1 class="my-4">Recipe Name</h1>
    </div>
    <div class="col-sm-12">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
    <div class="col-sm-12">
        <h4>Description details</h4>
        <h5>Ingredients</h5>
    </div>
</div>