.nav-bar{
    display: flex;
    justify-content: space-between;
}
div span{
    margin-left : 20px;
}
mat-drawer-container{
    height:100%;    

}
.side-nav{
    width: 200px;
    
    background-color: rgb(41, 3, 41);
}

.mat-list-item{
    color: #ffffff;
}
.mat-divider{
    border: 1px solid #fce9e9a6;
}
.grid-items{
    border: 1px solid orange;
}
.avatar{
    background-image: url("../../assets/Srinivas-Patnala.jpg");
    background-size: cover;
}
.card-btns{
    display: flex;
    justify-content: space-between;
}
.mat-card:not([class*=mat-elevation-z]){
    padding:25px;
}
table{
    width:100%;
}